.pictures {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
  }

.hover {
    flex: 0 1 auto;
    height: 200px;
    margin-right: 0.5rem;
    cursor: pointer;
}

body {
  background: url("./Star Wars.png"); /*Star Wars Background image, delete to make text on webpage more visable */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fafafa; /*Text color*/
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}